<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{include/header.html :: header}"></head>
    <body>
        <h1 class="text-center my-5">Spring-Boot 게시판</h1>
        <div class="container">
        <table class="bbslist table-hover" >
            <colgroup>
              <col width="10%">
              <col width="50%">
              <col width="15%">
              <col width="15%">
              <col width="10%">
            </colgroup>
            <thead>
             <tr>
               <th>번호</th>
               <th>제목</th>
               <th>작성자</th>
               <th>날짜</th>
               <th>조회수</th> 
             </tr>
            </thead>
            <tbody>
                <!--루프-->
                <tr th:each="bbs: ${bbsPage.content}">
                    <td class="text-center" th:text="${bbs.num}"></td>
                    <td class="ellipsis"><a th:href="@{|view/${bbs.num}|}" th:text="${bbs.title}"></a> </td>
                    <td class="ellipsis text-center"th:text="${bbs.writer}"></td>
                    <td class="text-center" th:text="${#temporals.format(bbs.wdate, 'yyyy/MM/dd')}"></td>
                    <td class="text-center" th:text="${bbs.count}"></td>
                </tr>
                <!--/루프-->
            </tbody>
        </table>
        <div class="search-and-button">
            <div class="col-md-5 searchbox">
                <form id="searchForm" method="get">
                    <div class="input-group mt-3 mb-3">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" id="search-text">
                                제목검색
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" data-search="title">제목검색</a>
                                <a class="dropdown-item" href="#" data-search="writer">이름검색</a>
                                <a class="dropdown-item" href="#" data-search="contents">내용검색</a>
                            </div>
                        </div>
                        <input type="text" class="form-control" id="searchInput" placeholder="검색어 입력" name="searchVal">
                        <input type="hidden" id="searchKey" name="searchKey" value="title"/>
                        <div class="input-group-append">
                            <button class="btn btn-success" id="searchSubmit" type="submit">Go</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-7 text-right">
                <a href="bbs.jsp" class="btn btn-success">목록</a>
                <a href="/write" class="btn btn-success">글쓰기</a>
            </div>
        </div>
        <div>
            <ul class="pagination justify-content-center">
                <!-- 처음 페이지 -->
                <li class="page-item">
                   <a class="page-link bg-light"
                        th:href="@{/(page=0, searchKey=${searchKey}, searchVal=${searchVal})}">
                        <i class="ri-arrow-left-double-line"></i>
                   </a>
                </li>
               
                <!-- 이전 페이지 -->
                <li th:if="${startPageOfGroup > 1}" class="page-item">
                   <a class="page-link" 
                   th:href="@{/(page=${startPageOfGroup - 2}, searchKey=${searchKey}, searchVal=${searchVal})}">
                       <i class="ri-arrow-left-s-line"></i>
                   </a>
                </li> 
       
                <!-- 페이지 번호 15개 단위로 --> 
                <li class="page-item" th:each="i : ${#numbers.sequence(startPageOfGroup, endPageOfGroup)}"
                    th:classappend="${i == currentPage} ? 'active' : ''"
                >
                   <a class="page-link"
                      th:href="@{/(page=${i - 1}, searchKey=${searchKey}, searchVal=${searchVal})}"
                      th:text="${i}"></a>
                </li>
               
         
                <!-- 다음페이지-->
                <li class="page-item"
                    th:if="${totalPages > endPageOfGroup}">
                    <a class="page-link"
                    th:href="@{/(page=${endPageOfGroup}, searchKey=${searchKey}, searchVal=${searchVal})}">
                       <i class="ri-arrow-right-s-line"></i>
                    </a>   
                </li>
       
                <!--마지막 페이지-->
                <li class="page-item">
                   <a class="page-link bg-light" 
                      th:href="@{/(page=${totalPages - 1}, searchKey=${searchKey}, searchVal=${searchVal})}">
                      <i class="ri-arrow-right-double-line"></i>
                   </a>
                </li>
            </ul>
      </div>   

   <!--/ccontainer-->
   <script>
    $(function(){
        $(".dropdown-item").click(function(e){
            e.preventDefault();
            const selectedText = $(this).text();
            const selectedKey = $(this).data("search");
            $("#searchKey").val(selectedKey);
            $("#searchtext").text(selectedText);
        });
        
        $("#searchbutton").click(function(){
            const keyword = $("#searchInput").val().trim();
            if(keyword === ""){
                alert("검색어를 입력하세요.");
                $("#searchInput").focus();
                return false;
            }
            $("#searchForm").submit();
        });
        $(function(){
                $(".dropdown-item").click(function(e){
                    e.preventDefault();
                    const selectedText = $(this).text();
                    const selectedKey = $(this).data("search");
                    $("#searchKey").val(selectedKey);
                    $("#search-text").text(selectedText);
                });
            });
    });
    </script>
    
</body>
</html>